{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Historia{% endblock %}

{% block area %}
<h2 align="left">Historia</h2>

<form id="vime-form" action="{{ path('mdhist_create') }}" method="post" {{ form_enctype(form) }}>
	<input type="submit" style="display: none" id="sender" value="send">
   <table align="center">
		<tr><td colspan='2'>{{ form_errors(form.fecha) }}</td></tr>
		<tr><td align="left">{{ form_label(form.fecha) }}</td><td align="left">{{ form_widget(form.fecha) }}<img id="hlpFecha" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td><td align="left"></td></tr>
		<tr><td>&nbsp;</td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.menstru) }}</td></tr>
		<tr><td align="left">{{ form_label(form.menstru) }}</td><td align="left">{{ form_widget(form.menstru) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.tipo) }}</td></tr>
		<tr><td align="left">{{ form_label(form.tipo) }}</td><td align="left">{{ form_widget(form.tipo) }}</td></tr>
   		<tr><td colspan='2'>{{ form_errors(form.mdpaci) }}</td></tr>
		<tr><td align="left">{{ form_label(form.mdpaci) }}</td><td align="left">{{ form_widget(form.mdpaci) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.gbpers) }}</td></tr>
		<tr><td align="left">{{ form_label(form.gbpers) }}</td><td align="left">{{ form_widget(form.gbpers) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.tcruta) }}</td></tr>
		<tr><td align="left">{{ form_label(form.tcruta) }}</td><td align="left">{{ form_widget(form.tcruta) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.comentario) }}</td></tr>
		<tr><td align="left">{{ form_label(form.comentario) }}</td><td align="left">{{ form_widget(form.comentario) }}</td></tr>
    </table>
    {{ form_rest(form) }}
</form>

{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('mdhist') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="SimularClick('sender')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/guardar.png') }}" title="Guardar"></td>
		</tr>
	</table>
</div>
{% endblock %}

{% block uscript %}
	
	<script type="text/javascript">
		
		function $init(event)
		{
			gId('hlpFecha').onclick = $helpCalendar;						
		}
		
	</script>
	
{% endblock %}
