{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Descripción Ant. Personal{% endblock %}

{% block area %}

<h2 align="left">Descripción Antecedente Personal</h2>

<table class="vime-table-des" align="center">
    <tbody>
        <tr>
            <th align="left">Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th align="left">Fecha</th>
            <td>{{ entity.fecha|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th align="left">Identificación</th>
            <td>{{ entity.mdpaci.identificacion }}</td>
        </tr>
        <tr>
            <th align="left">Nombre paciente</th>
            <td>{{ entity.mdpaci.prinom }} {{ entity.mdpaci.segnom }} {{ entity.mdpaci.priape }} {{ entity.mdpaci.segape }}</td>
        </tr>
        <tr>
            <th align="left">Accidentes en el último año</th>
            <td>{% if entity.evento == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Operaciones habituales</th>
            <td>{{ entity.operaciones }}</td>
        </tr>
        <tr>
            <th align="left">Productos que manipula</th>
            <td>{{ entity.productos }}</td>
        </tr>
        <tr>
            <th align="left">Riesgos a los que se expone</th>
            <td>{{ entity.riesgos }}</td>
        </tr>
        <tr>
            <th align="left">Tiempo de exposición</th>
            <td>{{ entity.texposicion }}</td>
        </tr>
        <tr>
            <th align="left">Protección adoptada</th>
            <td>{{ entity.proteccion }}</td>
        </tr>
        <tr>
            <th align="left">Ventilación ambiental</th>
            <td>{{ entity.ventilacion }}</td>
        </tr>
        <tr>
            <th align="left">Temperatura ambiental</th>
            <td>{{ entity.temperatura }}</td>
        </tr>
        <tr>
            <th align="left">Horario</th>
            <td>{{ entity.horario }}</td>
        </tr>
        <tr>
            <th align="left">Turno</th>
            <td>{{ entity.turno }}</td>
        </tr>
        <tr>
            <th align="left">Rotación</th>
            <td>{{ entity.rotacion }}</td>
        </tr>
        <tr>
            <th align="left">No. Visítas al médico</th>
            <td>{{ entity.visitas }}</td>
        </tr>
        <tr>
            <th align="left">No. días de baja laboral</th>
            <td>{{ entity.bajas }}</td>
        </tr>
        <tr>
            <th align="left">Medicamentos en uso</th>
            <td>{{ entity.medicamentos }}</td>
        </tr>
        <tr>
            <th align="left">Fumador</th>
            <td>{% if entity.fumador == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Detalles fumador</th>
            <td>{{ entity.detfumador }}</td>
        </tr>
        <tr>
            <th align="left">Bebedor</th>
            <td>{% if entity.bebedor == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Detalles bebedor</th>
            <td>{{ entity.detbebedor }}</td>
        </tr>
        <tr>
            <th align="left">Enfermedades pulmón</th>
            <td>{{ entity.efpulmon }}</td>
        </tr>
        <tr>
            <th align="left">Enfermedades corazón</th>
            <td>{{ entity.efcorazon }}</td>
        </tr>
        <tr>
            <th align="left">Enfermedades asma</th>
            <td>{{ entity.efasma }}</td>
        </tr>
        <tr>
            <th align="left">Enfermedades bronquios</th>
            <td>{{ entity.efbronquios }}</td>
        </tr>
        <tr>
            <th align="left">Enfermedades circulación</th>
            <td>{{ entity.efcirculacion }}</td>
        </tr>
        <tr>
            <th align="left">Enfermedades hígado</th>
            <td>{{ entity.efhigado }}</td>
        </tr>
        <tr>
            <th align="left">Enfermedades gastritis</th>
            <td>{{ entity.efgastritis }}</td>
        </tr>
        <tr>
            <th align="left">Enfermedades úlcera</th>
            <td>{{ entity.efulcera }}</td>
        </tr>
        <tr>
            <th align="left">Cólicos de vesícula</th>
            <td>{{ entity.efvesicula }}</td>
        </tr>
        <tr>
            <th align="left">Cólicos de riñon</th>
            <td>{{ entity.efriñon }}</td>
        </tr>
        <tr>
            <th align="left">Infecciones urinarias</th>
            <td>{{ entity.efurinario }}</td>
        </tr>
        <tr>
            <th align="left">Artrosis</th>
            <td>{{ entity.efartrosis }}</td>
        </tr>
        <tr>
            <th align="left">Lumbagos</th>
            <td>{{ entity.eflumbago }}</td>
        </tr>
        <tr>
            <th align="left">Otros</th>
            <td>{{ entity.efotros }}</td>
        </tr>
        <tr>
            <th align="left">Alergias</th>
            <td>{{ entity.alergias }}</td>
        </tr>
        <tr>
            <th align="left">Azúcar / Glucosa en sangre</th>
            <td>{{ entity.prazucar }}</td>
        </tr>
        <tr>
            <th align="left">Colesterol</th>
            <td>{{ entity.prcolesterol }}</td>
        </tr>
        <tr>
            <th align="left">Ácido úrico</th>
            <td>{{ entity.prurico }}</td>
        </tr>
        <tr>
            <th align="left">Hepatitis</th>
            <td>{{ entity.prhepatitis }}</td>
        </tr>
        <tr>
            <th align="left">Transaminasas altas</th>
            <td>{{ entity.prtransaminasas }}</td>
        </tr>
        <tr>
            <th align="left">Tensión alta</th>
            <td>{{ entity.prhipertension }}</td>
        </tr>
        <tr>
            <th align="left">Tensión baja</th>
            <td>{{ entity.prhipotension }}</td>
        </tr>
        <tr>
            <th align="left">Soplos</th>
            <td>{{ entity.prsoplos }}</td>
        </tr>
        <tr>
            <th align="left">Arrítmias</th>
            <td>{{ entity.prarritmias }}</td>
        </tr>
        <tr>
            <th align="left">Hernias</th>
            <td>{{ entity.prhernias }}</td>
        </tr>
        <tr>
            <th align="left">Síntomas de depresión</th>
            <td>{{ entity.prdepresion }}</td>
        </tr>
        <tr>
            <th align="left">Cambios intestinales</th>
            <td>{{ entity.cbintestinal }}</td>
        </tr>
        <tr>
            <th align="left">Cambios en la orina</th>
            <td>{{ entity.cborina }}</td>
        </tr>
        <tr>
            <th align="left">Cambios en la piel</th>
            <td>{{ entity.cbpiel }}</td>
        </tr>
        <tr>
            <th align="left">Cambios de peso</th>
            <td>{{ entity.cbpeso }}</td>
        </tr>
        <tr>
            <th align="left">Vacuna tetano</th>
            <td>{% if entity.tetano == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Fecha vacuna</th>
            <td>{{ entity.tetanofecha|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th align="left">Dosis vacuna</th>
            <td>{{ entity.tetanodosis }}</td>
        </tr>
        <tr>
            <th align="left">Observaciones</th>
            <td>{{ entity.observaciones }}</td>
        </tr>
    </tbody>
</table>

	<form id="vime-form" action="{{ path('hspers_delete', { 'id': entity.id }) }}" method="post">
		{{ form_widget(delete_form) }}
	</form>
    
{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('hspers') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="gId('vime-form').submit()"><img src="{{ asset('bundles/scontrol/imagenes/iconos/eliminar.png') }}" title="Eliminar"></td>
			<td onClick="go('{{ path('hspers_edit', { 'id': entity.id }) }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/editar.png') }}" title="Editar"></td>
		</tr>
	</table>
</div>
{% endblock %}
