{% extends "ScontrolBundle::layout.html.twig" %}

{% block header%}

	<link href="{{ asset('bundles/scontrol/css/tema.css') }}" rel="stylesheet" type="text/css" />

	{% block title %} Reportes Estadísticos {% endblock %}

{% endblock %}

{% block area %}

<h1 align="left">Reportes Estadísticos</h1>
	<div style="width: 80%; position: absolute; margin-left: 10%;margin-top: 2%; border: solid #BFBFBF 1px; box-shadow: 1.5px 1.5px 1.5px 1.5px;">
		<form>
			<table align="center">
				<tr>
					<td>Empresa:</td>
					<td>
						<select id="empresa">
							<option value="@">Seleccione...</option>
							{% for empresa in empresas %}
								<option value="{{ empresa.id }}">{{ empresa.nombre }}</option>
							{% endfor %}
						</select>
					</td>
					<td>&nbsp;</td>
					<td>Fecha Inicial: </td><td><input type="text" name="finicio" id="finicio"><img id="selfinicio" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td>
					<td>Fecha Final:</td><td> <input type="text" name="ffinal" id="ffin"><img id="selffinal" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td>
				</tr>
			</table>
		</form>
	</div>
	<div id="btsexo" class="btreport">
		<h3>Consulta por sexo</h3>
	</div>

	<div id="btedad" class="btreport">
		<h3>Consulta por edad</h3>
	</div>

	<div id="btalthom" class="btreport">
		<h3>Consulta por altura en hombres</h3>
	</div>
	
	<div id="btaltmuj" class="btreport">
		<h3>Consulta por altura en mujeres</h3>
	</div>

	<div id="btcorpohom" class="btreport">
		<h3>Consulta por masa corporal en hombres</h3>
	</div>
	
	<div id="btcorpomuj" class="btreport">
		<h3>Consulta por masa corporal en mujeres</h3>
	</div>
	
	<div id="btfumadores" class="btreport">
		<h3>Consulta por fumadores</h3>
	</div>
	
	<div id="btpartelevada" class="btreport">
		<h3>Consulta por presión arterial elevada</h3>
	</div>
	
	<div id="btaltanaliticas" class="btreport">
		<h3>Consulta por alteraciones analíticas</h3>
	</div>
	
	<div id="btespirometria" class="btreport">
		<h3>Consulta por espirometría</h3>
	</div>
	
	<div id="btcontvision" class="btreport">
		<h3>Consulta por control de la visión</h3>
	</div>
	
	<div id="btaudiometria" class="btreport">
		<h3>Consulta por audiometría</h3>
	</div>
	
	<div id="btalaplocomotor" class="btreport">
		<h3>Consulta por aparato locomotor</h3>
	</div>
	
	<div id="btdimedico" class="btreport">
		<h3>Consulta por dictamen médico</h3>
	</div>
	
	<div id="btdirilaborales" class="btreport">
		<h3>Consulta por riesgos laborales</h3>
	</div>

{% endblock %}

{% block uscript %}
	
	<script type="text/javascript">
		
		$base = "{{ path('report') }}";
		
		function $init(event)
		{
			gId('selfinicio').onclick = $helpCalendar;
			gId('selffinal').onclick = $helpCalendar;
			gId('btsexo').onclick = generar;
			gId('btedad').onclick = generaredad;
			gId('btalthom').onclick = generaralthom;
			
		}
		
		function generar(event)
		{
			window.open($base+'/'+gId('empresa').value+'/'+gId('finicio').value+'/'+gId('ffin').value+'/sexo', null, 'width=800,height=600');
		}
		
		function generaredad(event)
		{
			window.open($base+'/'+'edad', null, 'width=800,height=600');
		}
		
		function generaralthom(event)
		{
			window.open($base+'/'+'althombres', null, 'width=800,height=600');
		}
		
	</script>
	
{% endblock %}
