{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Editar Personal{% endblock %}

{% block area %}
<h2 align="left">Editar Personal</h2>

<form  id="vime-form" action="{{ path('gbpers_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<input type="submit" style="display: none" id="sender" value="send">
	<table style="position: absolute; margin-left: 4%;">
		<tr><td colspan='2'>{{ form_errors(edit_form.identificacion) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.identificacion) }}</td><td align="left">{{ form_widget(edit_form.identificacion) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.prinom) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.prinom) }}</td><td align="left">{{ form_widget(edit_form.prinom) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.segnom) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.segnom) }}</td><td align="left">{{ form_widget(edit_form.segnom) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.priape) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.priape) }}</td><td align="left">{{ form_widget(edit_form.priape) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.segape) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.segape) }}</td><td align="left">{{ form_widget(edit_form.segape) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.nacimiento) }}</td></tr>
		<tr>
			<td align="left">{{ form_label(edit_form.nacimiento) }}</td>
			<td align="left">{{ form_widget(edit_form.nacimiento) }}<img id="hlpNacimiento" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td>
		</tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>		
		<tr><td colspan='2'>{{ form_errors(edit_form.telefono) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.telefono) }}</td><td align="left">{{ form_widget(edit_form.telefono) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.direccion) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.direccion) }}</td><td align="left">{{ form_widget(edit_form.direccion) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.correo) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.correo) }}</td><td align="left">{{ form_widget(edit_form.correo) }}</td></tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">E-mail: (Ej: admin@vimelab.com)</td></tr>
    </table>
    <table style="position: absolute; margin-left: 45%;">
		<tr><td colspan='2'>{{ form_errors(edit_form.ingreso) }}</td></tr>
		<tr>
			<td align="left">{{ form_label(edit_form.ingreso) }}</td>
			<td align="left">{{ form_widget(edit_form.ingreso) }}<img id="hlpIngreso" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td>
		</tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>		
		<tr><td colspan='2'>{{ form_errors(edit_form.pdatos) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.pdatos) }}</td><td align="left">{{ form_widget(edit_form.pdatos) }}</td></tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Acepta los términos de Protección de datos</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.estado) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.estado) }}</td><td align="left">{{ form_widget(edit_form.estado) }}</td></tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Marque para activar usuario</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.gbciud) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.gbciud) }}</td><td align="left">{{ form_widget(edit_form.gbciud) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.gbiden) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.gbiden) }}</td><td align="left">{{ form_widget(edit_form.gbiden) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.gbcarg) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.gbcarg) }}</td><td align="left">{{ form_widget(edit_form.gbcarg) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.gbsucu) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.gbsucu) }}</td><td align="left">{{ form_widget(edit_form.gbsucu) }}</td></tr>
    </table>
    {{ form_rest(edit_form) }}
</form>

<form id="vime-form-del" action="{{ path('gbpers_delete', { 'id': entity.id }) }}" method="post">
	{{ form_widget(delete_form) }}
</form>
{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('gbpers') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="gId('vime-form-del').submit()"><img src="{{ asset('bundles/scontrol/imagenes/iconos/eliminar.png') }}" title="Eliminar"></td>
			<td onClick="SimularClick('sender')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/guardar.png') }}" title="Guardar"></td>
		</tr>
	</table>
</div>
{% endblock %}

{% block uscript %}
	
	<script type="text/javascript">
		
		function $init(event)
		{
			gId('hlpNacimiento').onclick = $helpCalendar;
			gId('hlpIngreso').onclick = $helpCalendar;			
		}
		
	</script>
	
{% endblock %}

