{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Descripción Respuesta{% endblock %}

{% block area %}

<h2 align="left">Descripción de Respuesta</h2>

<table class="vime-table-des" align="center">
    <tbody>
        <tr>
            <th align="left">Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th align="left">Historia No.</th>
            <td>{{ entity.mdhist }}</td>
        </tr>
        <tr>
            <th align="left">Identificación paciente</th>
            <td>{{ entity.mdhist.mdpaci }}</td>
        </tr>
        <tr>
            <th align="left">Paciente</th>
            <td>{{ entity.mdhist.mdpaci.prinom }} {{ entity.mdhist.mdpaci.segnom }} {{ entity.mdhist.mdpaci.priape }} {{ entity.mdhist.mdpaci.segape }}</td>
        </tr>
        <tr>
            <th align="left">Pregunta</th>
            <td>{{ entity.mdques.pregunta }}</td>
        </tr>
        <tr>
            <th align="left">Resultado</th>
            <td>{{ entity.resultado }}</td>
        </tr>
        <tr>
            <th align="left">Detalle</th>
            <td>{{ entity.detalle }}</td>
        </tr>
    </tbody>
</table>

	<form id="vime-form" action="{{ path('mdresp_delete', { 'id': entity.id }) }}" method="post">
		{{ form_widget(delete_form) }}
	</form>
    
{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('mdresp') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="gId('vime-form').submit()"><img src="{{ asset('bundles/scontrol/imagenes/iconos/eliminar.png') }}" title="Eliminar"></td>
			<td onClick="go('{{ path('mdresp_edit', { 'id': entity.id }) }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/editar.png') }}" title="Editar"></td>
		</tr>
	</table>
</div>
{% endblock %}
