{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Editar Pregunta{% endblock %}

{% block area %}

<h2 align="left">Editar Pregunta</h2>

<form id="vime-form" action="{{ path('mdques_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<input type="submit" style="display: none" id="sender" value="send">
   <table align="center">
   		<tr><td colspan='2'>{{ form_errors(edit_form.mdprot) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.mdprot) }}</td><td align="left">{{ form_widget(edit_form.mdprot) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.pregunta) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.pregunta) }}</td><td align="left">{{ form_widget(edit_form.pregunta) }}</td></tr>
    </table>
    {{ form_rest(edit_form) }}
</form>

<form id="vime-form-del" action="{{ path('mdques_delete', { 'id': entity.id }) }}" method="post">
	{{ form_widget(delete_form) }}
</form>			

{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('mdques') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="gId('vime-form-del').submit()"><img src="{{ asset('bundles/scontrol/imagenes/iconos/eliminar.png') }}" title="Eliminar"></td>
			<td onClick="SimularClick('sender')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/guardar.png') }}" title="Guardar"></td>
		</tr>
	</table>
</div>
{% endblock %}

