{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Laboratorio{% endblock %}

{% block area %}
<h2 align="left">Ordenes Laboratorio</h2>

<form id="vime-form" action="{{ path('mdlabo_create') }}" method="post" {{ form_enctype(form) }}>
	<input type="submit" style="display: none" id="sender" value="send">
   <table align="center">
   		<tr><td colspan='2'>{{ form_errors(form.mdhist) }}</td></tr>
		<tr><td align="left">{{ form_label(form.mdhist) }}</td><td align="left">{{ form_widget(form.mdhist) }}</td></tr>
   		<tr><td colspan='2'>{{ form_errors(form.mdexam) }}</td></tr>
		<tr><td align="left">{{ form_label(form.mdexam) }}</td><td align="left">{{ form_widget(form.mdexam) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.estado) }}</td></tr>
		<tr><td align="left">{{ form_label(form.estado) }}</td><td align="left">{{ form_widget(form.estado) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.resultado) }}</td></tr>
		<tr><td align="left">{{ form_label(form.resultado) }}</td><td align="left">{{ form_widget(form.resultado) }}</td></tr>
    </table>
    {{ form_rest(form) }}
</form>

{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('mdlabo') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="SimularClick('sender')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/guardar.png') }}" title="Guardar"></td>
		</tr>
	</table>
</div>
{% endblock %}
