{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Editar Contrato{% endblock %}

{% block area %}
<h2 align="left">Editar Contrato</h2>

<form id="vime-form" action="{{ path('ctcont_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<input type="submit" style="display: none" id="sender" value="send">
    <table style="position: absolute; margin-left: 4%;">
		<tr><td colspan='2'>{{ form_errors(edit_form.fecha) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.fecha) }}</td><td align="left">{{ form_widget(edit_form.fecha) }} <img id="hlpFecha" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td></tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.inicio) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.inicio) }}</td><td align="left">{{ form_widget(edit_form.inicio) }} <img id="hlpFechainicio" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td></tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.fin) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.fin) }}</td><td align="left">{{ form_widget(edit_form.fin) }} <img id="hlpFechafin" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td></tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.contratistagbiden) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.contratistagbiden) }}</td><td align="left">{{ form_widget(edit_form.contratistagbiden) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.identcontratista) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.identcontratista) }}</td><td align="left">{{ form_widget(edit_form.identcontratista) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.cargocontratista) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.cargocontratista) }}</td><td align="left">{{ form_widget(edit_form.cargocontratista) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.nombrecontratista) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.nombrecontratista) }}</td><td align="left">{{ form_widget(edit_form.nombrecontratista) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.direccioncontratista) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.direccioncontratista) }}</td><td align="left">{{ form_widget(edit_form.direccioncontratista) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.gbpers) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.gbpers) }}</td><td align="left">{{ form_widget(edit_form.gbpers) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.gbempr) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.gbempr) }}</td><td align="left">{{ form_widget(edit_form.gbempr) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.firmagbciud) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.firmagbciud) }}</td><td align="left">{{ form_widget(edit_form.firmagbciud) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.legalgbciud) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.legalgbciud) }}</td><td align="left">{{ form_widget(edit_form.legalgbciud) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.contratantegbiden) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.contratantegbiden) }}</td><td align="left">{{ form_widget(edit_form.contratantegbiden) }}</td></tr>
    </table>
    
    <table style="position: absolute; margin-left: 45%;">
		<tr><td colspan='2'>{{ form_errors(edit_form.identcontratante) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.identcontratante) }}</td><td align="left">{{ form_widget(edit_form.identcontratante) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.cargocontratante) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.cargocontratante) }}</td><td align="left">{{ form_widget(edit_form.cargocontratante) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.nombrecontratante) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.nombrecontratante) }}</td><td align="left">{{ form_widget(edit_form.nombrecontratante) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.direccioncontratante) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.direccioncontratante) }}</td><td align="left">{{ form_widget(edit_form.direccioncontratante) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.ntrabajadores) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.ntrabajadores) }}</td><td align="left">{{ form_widget(edit_form.ntrabajadores) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.revision) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.revision) }}</td><td align="left">{{ form_widget(edit_form.revision) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.aviso) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.aviso) }}</td><td align="left">{{ form_widget(edit_form.aviso) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.costovigencia) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.costovigencia) }}</td><td align="left">{{ form_widget(edit_form.costovigencia) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.subtotal) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.subtotal) }}</td><td align="left">{{ form_widget(edit_form.subtotal) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.iva) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.iva) }}</td><td align="left">{{ form_widget(edit_form.iva) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.descuento) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.descuento) }}</td><td align="left">{{ form_widget(edit_form.descuento) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.total) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.total) }}</td><td align="left">{{ form_widget(edit_form.total) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(edit_form.vletras) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.vletras) }}</td><td align="left">{{ form_widget(edit_form.vletras) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(edit_form.saldo) }}</td></tr>
		<tr><td align="left">{{ form_label(edit_form.saldo) }}</td><td align="left">{{ form_widget(edit_form.saldo) }}</td></tr>
    </table>
    {{ form_rest(edit_form) }}
</form>

<form id="vime-form-del" action="{{ path('ctcont_delete', { 'id': entity.id }) }}" method="post">
	{{ form_widget(delete_form) }}
</form>

{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('ctcont') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="gId('vime-form-del').submit()"><img src="{{ asset('bundles/scontrol/imagenes/iconos/eliminar.png') }}" title="Eliminar"></td>
			<td onClick="SimularClick('sender')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/guardar.png') }}" title="Guardar"></td>
		</tr>
	</table>
</div>
{% endblock %}

{% block uscript %}
	
	<script type="text/javascript">
		
		function $init(event)
		{
			gId('hlpFecha').onclick = $helpCalendar;
			gId('hlpFechainicio').onclick = $helpCalendar;
			gId('hlpFechafin').onclick = $helpCalendar;
		}
		
	</script>
	
{% endblock %}
