
{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %} Contrato {% endblock %}

{% block area %}

<h2 align="left">Contrato</h2>

<form id="vime-form" action="{{ path('ctcont_create') }}" method="post" {{ form_enctype(form) }}>
	<input type="submit" style="display: none" id="sender" value="send">
    <table style="position: absolute; margin-left: 4%;">
		<tr><td colspan='4'>{{ form_errors(form.fecha) }}</td></tr>
		<tr><td align="left">{{ form_label(form.fecha) }}</td><td align="left">{{ form_widget(form.fecha) }} <img id="hlpFecha" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td></tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.inicio) }}</td></tr>
		<tr><td align="left">{{ form_label(form.inicio) }}</td><td align="left">{{ form_widget(form.inicio) }} <img id="hlpFechainicio" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td></tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.fin) }}</td></tr>
		<tr><td align="left">{{ form_label(form.fin) }}</td><td align="left">{{ form_widget(form.fin) }} <img id="hlpFechafin" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td></tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.contratistagbiden) }}</td></tr>
		<tr><td align="left">{{ form_label(form.contratistagbiden) }}</td><td align="left">{{ form_widget(form.contratistagbiden) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.identcontratista) }}</td></tr>
		<tr><td align="left">{{ form_label(form.identcontratista) }}</td><td align="left">{{ form_widget(form.identcontratista) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.cargocontratista) }}</td></tr>
		<tr><td align="left">{{ form_label(form.cargocontratista) }}</td><td align="left">{{ form_widget(form.cargocontratista) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.nombrecontratista) }}</td></tr>
		<tr><td align="left">{{ form_label(form.nombrecontratista) }}</td><td align="left">{{ form_widget(form.nombrecontratista) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.direccioncontratista) }}</td></tr>
		<tr><td align="left">{{ form_label(form.direccioncontratista) }}</td><td align="left">{{ form_widget(form.direccioncontratista) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.gbpers) }}</td></tr>
		<tr><td align="left">{{ form_label(form.gbpers) }}</td><td align="left">{{ form_widget(form.gbpers) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.gbempr) }}</td></tr>
		<tr><td align="left">{{ form_label(form.gbempr) }}</td><td align="left">{{ form_widget(form.gbempr) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.firmagbciud) }}</td></tr>
		<tr><td align="left">{{ form_label(form.firmagbciud) }}</td><td align="left">{{ form_widget(form.firmagbciud) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.legalgbciud) }}</td></tr>
		<tr><td align="left">{{ form_label(form.legalgbciud) }}</td><td align="left">{{ form_widget(form.legalgbciud) }}</td></tr>
	</table>
	
	<table style="position: absolute; margin-left: 45%;">
		<tr><td colspan='4'>{{ form_errors(form.contratantegbiden) }}</td></tr>
		<tr><td align="left">{{ form_label(form.contratantegbiden) }}</td><td align="left">{{ form_widget(form.contratantegbiden) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.identcontratante) }}</td></tr>
		<tr><td align="left">{{ form_label(form.identcontratante) }}</td><td align="left">{{ form_widget(form.identcontratante) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.cargocontratante) }}</td></tr>
		<tr><td align="left">{{ form_label(form.cargocontratante) }}</td><td align="left">{{ form_widget(form.cargocontratante) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.nombrecontratante) }}</td></tr>
		<tr><td align="left">{{ form_label(form.nombrecontratante) }}</td><td align="left">{{ form_widget(form.nombrecontratante) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.direccioncontratante) }}</td></tr>
		<tr><td align="left">{{ form_label(form.direccioncontratante) }}</td><td align="left">{{ form_widget(form.direccioncontratante) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.revision) }}</td></tr>
		<tr><td align="left">{{ form_label(form.revision) }}</td><td align="left">{{ form_widget(form.revision) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.aviso) }}</td></tr>
		<tr><td align="left">{{ form_label(form.aviso) }}</td><td align="left">{{ form_widget(form.aviso) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.costovigencia) }}</td></tr>
		<tr><td align="left">{{ form_label(form.costovigencia) }}</td><td align="left">{{ form_widget(form.costovigencia) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.subtotal) }}</td></tr>
		<tr><td align="left">{{ form_label(form.subtotal) }}</td><td align="left">{{ form_widget(form.subtotal) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.iva) }}</td></tr>
		<tr><td align="left">{{ form_label(form.iva) }}</td><td align="left">{{ form_widget(form.iva) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.descuento) }}</td></tr>
		<tr><td align="left">{{ form_label(form.descuento) }}</td><td align="left">{{ form_widget(form.descuento) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.total) }}</td></tr>
		<tr><td align="left">{{ form_label(form.total) }}</td><td align="left">{{ form_widget(form.total) }}</td></tr>
		<tr><td colspan='4'>{{ form_errors(form.saldo) }}</td></tr>
		<tr><td align="left">{{ form_label(form.saldo) }}</td><td align="left">{{ form_widget(form.saldo) }}</td></tr>
	
	</table>
    {{ form_rest(form) }}
</form>

{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('ctcont') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="SimularClick('sender')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/guardar.png') }}" title="Guardar"></td>
		</tr>
	</table>
</div>
{% endblock %}

{% block uscript %}
	
	<script type="text/javascript">
		
		function $init(event)
		{
			gId('hlpFecha').onclick = $helpCalendar;
			gId('hlpFechainicio').onclick = $helpCalendar;
			gId('hlpFechafin').onclick = $helpCalendar;
		}
		
	</script>
	
{% endblock %}
