{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Cursos{% endblock %}

{% block area %}

<h2 align="left">Cursos</h2>

<form id="vime-form" action="{{ path('tccurs_create') }}" method="post" {{ form_enctype(form) }}>
	<input type="submit" style="display: none" id="sender" value="send">
   <table align="center">
   		<tr><td colspan='2'>{{ form_errors(form.mdpaci) }}</td></tr>
		<tr><td align="left">{{ form_label(form.mdpaci) }}</td><td align="left">{{ form_widget(form.mdpaci) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.tccapa) }}</td></tr>
		<tr><td align="left">{{ form_label(form.tccapa) }}</td><td align="left">{{ form_widget(form.tccapa) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.empresa) }}</td></tr>
		<tr><td align="left">{{ form_label(form.empresa) }}</td><td align="left">{{ form_widget(form.empresa) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.inicio) }}</td></tr>
		<tr><td align="left">{{ form_label(form.inicio) }}</td><td align="left">{{ form_widget(form.inicio) }}</td></tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.fin) }}</td></tr>
		<tr><td align="left">{{ form_label(form.fin) }}</td><td align="left">{{ form_widget(form.fin) }}</td></tr>
		<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.instructor) }}</td></tr>
		<tr><td align="left">{{ form_label(form.instructor) }}</td><td align="left">{{ form_widget(form.instructor) }}</td></tr>
		<tr><td colspan='2'>{{ form_errors(form.detalle) }}</td></tr>
		<tr><td align="left">{{ form_label(form.detalle) }}</td><td align="left">{{ form_widget(form.detalle) }}</td></tr>
    </table>
    {{ form_rest(form) }}
</form>

{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('tccurs') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="SimularClick('sender')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/guardar.png') }}" title="Guardar"></td>
		</tr>
	</table>
</div>
{% endblock %}
