{% extends '::base.html.twig' %}

{% block header %}
	
	<link href="{{ asset('bundles/scontrol/css/tema.css') }}" rel="stylesheet" type="text/css" />
	<script language="JavaScript" src="{{ asset('bundles/scontrol/js/general.js') }}" /></script>
	<script language="JavaScript" src="{{ asset('bundles/scontrol/js/ice/ajax.js') }}" /></script>
	<script language="JavaScript" src="{{ asset('bundles/scontrol/js/ice/basico.js') }}" /></script>
	<script language="JavaScript" src="{{ asset('bundles/scontrol/js/ice/dom.js') }}" /></script>

{% endblock %}

{% block body %}
	<div id="vime-cabecera">
	
	</div>
	<div id="vime-barra">
		<!-- <div id="titulo_form"> Formulario </div> -->
		<!-- <div id="msg_estado">¡ Mensaje de Estado !</div> -->
	</div>
	<div id="vime-menu">
		
		<div class='Menu'>
			<b>Generales</b>
			<table>
				<tr><td onclick="go('{{ path('gbacls') }}/new')">ACLS</td></tr>
				<tr><td onclick="go('{{ path('gbcarg') }}/new')">Cargos</td></tr>
				<tr><td onclick="go('{{ path('gbciud') }}/new')">Ciudades</td></tr>
				<tr><td onclick="go('{{ path('gbcnae') }}/new')">CNAE</td></tr>
				<tr><td onclick="go('{{ path('gbdepa') }}/new')">Província</td></tr>
				<tr><td onclick="go('{{ path('gbempr') }}/new')">Empresas</td></tr>
				<tr><td onclick="go('{{ path('gbiden') }}/new')">Identificación</td></tr>
				<tr><td onclick="go('{{ path('gblogr') }}/new')">Logs</td></tr>
				<tr><td onclick="go('{{ path('gbpais') }}/new')">País</td></tr>
				<tr><td onclick="go('{{ path('gbpers') }}/new')">Personal</td></tr>
				<tr><td onclick="go('{{ path('gbptra') }}/new')">Puesto de Trabajo</td></tr>
				<tr><td onclick="go('{{ path('gbsucu') }}/new')">Sucursal</td></tr>
				<tr><td onclick="go('{{ path('gbusua') }}/new')">Usuario</td></tr>
			</table>
        </div>
        
        <div class='Menu'>
			<b>Contables</b>
			<table>
				<tr><td onclick="go('{{ path('ctcont') }}/new')">Contrato</td></tr>
				<tr><td onclick="go('{{ path('ctcoti') }}/new')">Cotización</td></tr>
				<tr><td onclick="go('{{ path('ctfact') }}/new')">Factura</td></tr>
				<tr><td onclick="go('{{ path('ctserv') }}/new')">Servicios</td></tr>
				<tr><td onclick="go('{{ path('cttari') }}/new')">Tarifas</td></tr>
			</table>
        </div>

        <div class='Menu'>
			<b>Antecedentes</b>
			<table>
				<tr><td onclick="go('{{ path('hsfami') }}/new')">Familiar</td></tr>
				<tr><td onclick="go('{{ path('hslabo') }}/new')">Laboral</td></tr>
				<tr><td onclick="go('{{ path('hspers') }}/new')">Personal</td></tr>
			</table>
        </div>
            
        <div class='Menu'>
			<b>Médicas</b>
			<table>
				<tr><td onclick="go('{{ path('mdaudi') }}/new')">Audiometría</td></tr>
				<tr><td onclick="go('{{ path('mdbiom') }}/new')">Biometría</td></tr>
				<tr><td onclick="go('{{ path('mddiag') }}/new')">Diagnósticos</td></tr>
				<tr><td onclick="go('{{ path('mdespi') }}/new')">Espirometría</td></tr>
				<tr><td onclick="go('{{ path('mdexam') }}/new')">Exámenes</td></tr>
				<tr><td onclick="go('{{ path('mdextr') }}/new')">Extremidades</td></tr>
				<tr><td onclick="go('{{ path('mdhist') }}/new')">Hístoria</td></tr>
				<tr><td onclick="go('{{ path('mdlabo') }}/new')">Ordenes Laboratorio</td></tr>
				<tr><td onclick="go('{{ path('mdpaci') }}/new')">Pacientes</td></tr>
				<tr><td onclick="go('{{ path('mdpato') }}/new')">Patología</td></tr>
				<tr><td onclick="go('{{ path('mdproc') }}/new')">Procedimiento</td></tr>
				<tr><td onclick="go('{{ path('mdprot') }}/new')">Protocolo</td></tr>
				<tr><td onclick="go('{{ path('mdques') }}/new')">Prot. Cuestionario</td></tr>
				<tr><td onclick="go('{{ path('mdresp') }}/new')">Prot. Respuestas</td></tr>
				<tr><td onclick="go('{{ path('mdsist') }}/new')">R. Sistemas</td></tr>
				<tr><td onclick="go('{{ path('mdvisu') }}/new')">Ag. Visual</td></tr>
			</table>
		</div>
            
        <div class='Menu'>
			<b>Técnicas</b>
			<table>
				<tr><td onclick="go('{{ path('tcaspe') }}/new')">Aspectos (R. Técnica)</td></tr>
				<tr><td onclick="go('{{ path('tccapa') }}/new')">Capacitaciones</td></tr>
				<tr><td onclick="go('{{ path('tcchec') }}/new')">Check List (R. Técnica)</td></tr>
				<tr><td onclick="go('{{ path('tccurs') }}/new')">Cursos (Cap vs Trab)</td></tr>
				<tr><td onclick="go('{{ path('tcdeta') }}/new')">Detalle</td></tr>
				<tr><td onclick="go('{{ path('tcrevi') }}/new')">R. Técnica</td></tr>
				<tr><td onclick="go('{{ path('tcruta') }}/new')">Hoja de Ruta</td></tr>
			</table>
		</div>
    </div>

	<div id="vime-vista">
		<div id="vime-area">
			{% block area %}
			
				<img src="{{ asset('bundles/scontrol/imagenes/49.png') }}"><h2><b>Usted no posee privilégios para ingresar en esta sección {{ msg }}</b></h2>
			
			{% endblock %}
		</div>
    </div>
    

{% block action %}

{% endblock %}
	
    
    <div id="vime-pie">
		SaludControl v1.0 - 2012 ©
    </div>

	
{% block lateral %}
	
		
{% endblock %}

{% endblock %}
