{% extends '::base.html.twig' %}

{% block header %}
	
	<link href="{{ asset('bundles/scontrol/css/tema.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}
	<script text="JavaScript">
		function getUser()
		{
			ajaxAction
			(
				new Hash(['*tok => 0']),
				"{{ path('getUser') }}",
				setUser
			);
		}
		
		function setUser(response)
		{
			gId('sisuser').innerHTML = response.responseText;
		}
		
		function foldMenu(elem)
		{
			if(elem.style.height == '' || elem.style.height == '18px')
				elem.style.height = 'auto';
			else
				elem.style.height = '18px';
		}
	</script>

	<div id="vime-cabecera">
	
	</div>
	<div id="vime-barra" align='right'>
		<table style="padding-right: 50px; font-weight: bold;"><tr><td align='right'>Usuario Activo:</td><td id='sisuser'></td><td width='100px'></td><td onclick="go('{{ path('logout') }}')" class='exitBtn'>CERRAR SESIÓN</td></tr></table>
	</div>
	<div id="vime-menu">
		
		<div class='Menu' onclick='foldMenu(this)'>
			<b>Generales</b>
			<table>
				<tr><td onclick="go('{{ path('gbacls') }}')">ACLS</td></tr>
				<tr><td onclick="go('{{ path('gbcarg') }}')">Cargos</td></tr>
				<tr><td onclick="go('{{ path('gbciud') }}')">Ciudades</td></tr>
				<tr><td onclick="go('{{ path('gbcnae') }}')">CNAE</td></tr>
				<tr><td onclick="go('{{ path('gbdepa') }}')">Província</td></tr>
				<tr><td onclick="go('{{ path('gbempr') }}')">Empresas</td></tr>
				<tr><td onclick="go('{{ path('gbiden') }}')">Identificación</td></tr>
				<tr><td onclick="go('{{ path('gblogr') }}')">Logs</td></tr>
				<tr><td onclick="go('{{ path('gbpais') }}')">País</td></tr>
				<tr><td onclick="go('{{ path('gbpers') }}')">Personal</td></tr>
				<tr><td onclick="go('{{ path('gbptra') }}')">Puesto de Trabajo</td></tr>
				<tr><td onclick="go('{{ path('gbsucu') }}')">Sucursal</td></tr>
				<tr><td onclick="go('{{ path('gbusua') }}')">Usuario</td></tr>
			</table>
        </div>
        
        <div class='Menu' onclick='foldMenu(this)'>
			<b>Contables</b>
			<table>
				<tr><td onclick="go('{{ path('ctcont') }}')">Contrato</td></tr>
				<tr><td onclick="go('{{ path('ctcoti') }}')">Presupuesto</td></tr>
				<tr><td onclick="go('{{ path('ctfact') }}')">Factura</td></tr>
				<tr><td onclick="go('{{ path('ctserv') }}')">Servicios</td></tr>
				<tr><td onclick="go('{{ path('cttari') }}')">Tarifas</td></tr>
			</table>
        </div>

        <div class='Menu' onclick='foldMenu(this)'>
			<b>Antecedentes</b>
			<table>
				<tr><td onclick="go('{{ path('hsfami') }}')">Familiar</td></tr>
				<tr><td onclick="go('{{ path('hslabo') }}')">Laboral</td></tr>
				<tr><td onclick="go('{{ path('hspers') }}')">Personal</td></tr>
			</table>
        </div>
            
        <div class='Menu' onclick='foldMenu(this)'>
			<b>Médicas</b>
			<table>
				<tr><td onclick="go('{{ path('mdaudi') }}')">Audiometría</td></tr>
				<tr><td onclick="go('{{ path('mdbiom') }}')">Biometría</td></tr>
				<tr><td onclick="go('{{ path('mddiag') }}')">Diagnósticos</td></tr>
				<tr><td onclick="go('{{ path('mdespi') }}')">Espirometría</td></tr>
				<tr><td onclick="go('{{ path('mdexam') }}')">Exámenes</td></tr>
				<tr><td onclick="go('{{ path('mdextr') }}')">Extremidades</td></tr>
				<tr><td onclick="go('{{ path('mdhist') }}')">Hístoria</td></tr>
				<tr><td onclick="go('{{ path('mdlabo') }}')">Ordenes Laboratorio</td></tr>
				<tr><td onclick="go('{{ path('mdpaci') }}')">Pacientes</td></tr>
				<tr><td onclick="go('{{ path('mdpato') }}')">Patología</td></tr>
				<tr><td onclick="go('{{ path('mdproc') }}')">Procedimiento</td></tr>
				<tr><td onclick="go('{{ path('mdprot') }}')">Protocolo</td></tr>
				<tr><td onclick="go('{{ path('mdques') }}')">Prot. Cuestionario</td></tr>
				<tr><td onclick="go('{{ path('mdresp') }}')">Prot. Respuestas</td></tr>
				<tr><td onclick="go('{{ path('mdsist') }}')">R. Sistemas</td></tr>
				<tr><td onclick="go('{{ path('mdvisu') }}')">Ag. Visual</td></tr>
			</table>
		</div>
            
        <div class='Menu' onclick='foldMenu(this)'>
			<b>Técnicas</b>
			<table>
				<tr><td onclick="go('{{ path('tcaspe') }}')">Aspectos (R. Técnica)</td></tr>
				<tr><td onclick="go('{{ path('tccapa') }}')">Capacitaciones</td></tr>
				<tr><td onclick="go('{{ path('tcchec') }}')">Check List (R. Técnica)</td></tr>
				<tr><td onclick="go('{{ path('tccurs') }}')">Cursos (Cap vs Trab)</td></tr>
				<tr><td onclick="go('{{ path('tcdeta') }}')">Detalle</td></tr>
				<tr><td onclick="go('{{ path('tcrevi') }}')">R. Técnica</td></tr>
				<tr><td onclick="go('{{ path('tcruta') }}')">Hoja de Ruta</td></tr>
			</table>
		</div>
        
        <div class='Menu' onclick='foldMenu(this)'>
			<b>Asistentes</b>
			<table>
				<tr><td onclick="go('{{ path('as_protocolo') }}')">Protocolos</td></tr>
			</table>
		</div>
    </div>

	<div id="vime-vista">
		<div id="vime-area">
			{% block area %}{% endblock %}
		</div>
    </div>
    

{% block action %}

{% endblock %}
	
    
    <div id="vime-pie">
		SaludControl v1.0 - 2012 ©
    </div>

	
{% block lateral %}
	
		
{% endblock %}

{% endblock %}
