{% extends 'ScontrolBundle::base.html.twig' %}

{% block header %}
	
	<link href="{{ asset('bundles/scontrol/css/tema.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}

	<div id="vime-cabecera">
		
	</div>
	<div id="vime-barra" align='right'>
		<table border='0' style="position: relative; padding-right: 50px; font-weight: bold; z-index: 2; margin-top: -0.3%;">
			<tr>
				<td><img title="Home" id="{{ path('home') }}" class="home" src="{{ asset('bundles/scontrol/imagenes/home.png') }}"></td>
				<td><img title="Cambiar Clave" class='exitBtn' id="{{ path('setKey') }}" src="{{ asset('bundles/scontrol/imagenes/edit-key.png') }}"></td>
				<td><img title="Cerrar sesión" class='exitBtn' id="{{ path('logout') }}" src="{{ asset('bundles/scontrol/imagenes/cerrar.png') }}"></td>
				<td><img title="Usuario" src="{{ asset('bundles/scontrol/imagenes/system-users.png') }}"></td>
				<td id='sisuser'>&nbsp;</td>
				<td width='50px'>&nbsp;</td>
			</tr>
		</table>
	</div>
	<div id="vime-menu">
		
		<div id="vimeMenu1" class='Menu'>
			<b>Generales</b>
			<table>
				<tr><td id="{{ path('gbacls') }}">Control de Acceso</td></tr>
				<tr><td id="{{ path('gbcarg') }}">Cargos</td></tr>
				<tr><td id="{{ path('gbciud') }}">Ciudades</td></tr>
				<tr><td id="{{ path('gbcnae') }}">CNAE</td></tr>
				<tr><td id="{{ path('gbdepa') }}">Província</td></tr>
				<tr><td id="{{ path('gbempr') }}">Empresas</td></tr>
				<tr><td id="{{ path('gbiden') }}">Identificación</td></tr>
				<tr><td id="{{ path('gblogr') }}">Logs</td></tr>
				<tr><td id="{{ path('gbpais') }}">País</td></tr>
				<tr><td id="{{ path('gbpers') }}">Personal</td></tr>
				<tr><td id="{{ path('gbptra') }}">Puesto de Trabajo</td></tr>
				<tr><td id="{{ path('gbsucu') }}">Sucursal</td></tr>
				<tr><td id="{{ path('gbusua') }}">Usuario</td></tr>
				<tr><td id="{{ path('gbcorp') }}">Corporación</td></tr>
			</table>
        </div>
        
        <div id="vimeMenu2" class='Menu'>
			<b>Contables</b>
			<table>
				<tr><td id="{{ path('ctcont') }}">Contrato</td></tr>
				<tr><td id="{{ path('ctcoti') }}">Presupuesto</td></tr>
				<tr><td id="{{ path('ctfact') }}">Factura</td></tr>
				<tr><td id="{{ path('ctserv') }}">Servicios</td></tr>
				<tr><td id="{{ path('cttari') }}">Tarifas</td></tr>
			</table>
        </div>

        <div id="vimeMenu3" class='Menu'>
			<b>Antecedentes</b>
			<table>
				<tr><td id="{{ path('hsfami') }}">Familiar</td></tr>
				<tr><td id="{{ path('hslabo') }}">Laboral</td></tr>
				<tr><td id="{{ path('hspers') }}">Personal</td></tr>
			</table>
        </div>
            
        <div id="vimeMenu4" class='Menu'>
			<b>Médicas</b>
			<table>
				<tr><td id="{{ path('mdaudi') }}">Audiometría</td></tr>
				<tr><td id="{{ path('mdbiom') }}">Biometría</td></tr>
				<tr><td id="{{ path('mddiag') }}">Diagnósticos</td></tr>
				<tr><td id="{{ path('mdespi') }}">Espirometría</td></tr>
				<tr><td id="{{ path('mdexam') }}">Exámenes</td></tr>
				<tr><td id="{{ path('mdextr') }}">Extremidades</td></tr>
				<tr><td id="{{ path('mdhist') }}">Hístoria</td></tr>
				<tr><td id="{{ path('mdlabo') }}">Ordenes Laboratorio</td></tr>
				<tr><td id="{{ path('mdpaci') }}">Pacientes</td></tr>
				<tr><td id="{{ path('mdpato') }}">Patología</td></tr>
				<tr><td id="{{ path('mdproc') }}">Procedimiento</td></tr>
				<tr><td id="{{ path('mdprot') }}">Protocolo</td></tr>
				<tr><td id="{{ path('mdques') }}">Prot. Cuestionario</td></tr>
				<tr><td id="{{ path('mdresp') }}">Prot. Respuestas</td></tr>
				<tr><td id="{{ path('mdsist') }}">Revisión Sistemas</td></tr>
				<tr><td id="{{ path('mdvisu') }}">Agudeza Visual</td></tr>
			</table>
		</div>
            
        <div id="vimeMenu5" class='Menu'>
			<b>Técnicas</b>
			<table>
				<tr><td id="{{ path('tcaspe') }}">Aspectos Técnicos</td></tr>
				<tr><td id="{{ path('tccapa') }}">Capacitaciones</td></tr>
				<tr><td id="{{ path('tcchec') }}">Lista de Chequeo</td></tr>
				<tr><td id="{{ path('tccurs') }}">Cursos</td></tr>
				<tr><td id="{{ path('tcdeta') }}">Detalle</td></tr>
				<tr><td id="{{ path('tcrevi') }}">Revisión Técnica</td></tr>
				<tr><td id="{{ path('tcruta') }}">Hoja de Ruta</td></tr>
			</table>
		</div>
        
        <div id="vimeMenu6" class='Menu'>
			<b>Asistentes</b>
			<table>
				<tr><td id="{{ path('as_protocolo') }}">Protocolos</td></tr>
				<tr><td id="{{ path('as_secu') }}">Seguridad</td></tr>
				<tr><td id="{{ path('as_ubica') }}">Ubicaciones</td></tr>
			</table>
		</div>
		
        <div id="vimeMenu7" class='Menu'>
			<b>Reportes</b>
			<table>
				<tr><td id="{{ path('report') }}">Reportes</td></tr>
			</table>
		</div>
    </div>

	<div id="vime-vista">
		<div id="vime-area">
			{% block area %}{% endblock %}
		</div>
    </div>
    

	{% block action %}{% endblock %}
	
	{% block lateral %}{% endblock %}
    
    <div id="vime-pie">
		SaludControl v1.0 - 2012 ©
    </div>
	
	<div id='dfSetKey' class='dfZone'>
			<input id="dfSetKeyPath" type="hidden" value="{{ path('setKey') }}"/>
			<table>
				
				<tr>
					<td align="center" colspan="2"><h3>Cambiar Clave</h3></td>
				</tr>
										
				<tr>
					<td align="left"><b>Clave Actual:</b></td>
					<td align="left"><input type='password' id='keyPass0' maxlength="50"/></td>
				</tr>
				<tr>
					<td align="left"><b>Nueva Clave:</b></td>
					<td align="left"><input type='password' id='keyPass1' maxlength="50"/></td>
				</tr>
				<tr>
					<td align="left"><b>Confirmar Clave:</b></td>
					<td align="left"><input type='password' id='keyPass2' maxlength="50"/></td>
				</tr>
				
				<tr>
					<td align="center" colspan="2">
						<button id="btnSavKey">GUARDAR</button>
						<button id="btnCanKey">CANCELAR</button>
					</td>
				</tr>
				
			</table>
		</div>
        
        <div class='tPop' id='pop'>
			<table class='tPopTab'>
				<tr>
					<td class='tPopIn' id='popin'> </td>
				</tr>
			</table>
		</div>

{% endblock %}

{% block script %}
	
	{% block uscript %}{% endblock %}
	
	<script type="text/javascript">
		
		/** Init Global **/
		
		window.onload = function()
		{			
			getUser("{{ path('getUser') }}");
			
			gId("{{ path('logout') }}").onclick = launch;
			gId("{{ path('home') }}").onclick = launch;
			
			/* Cambio Clave */
			gId("{{ path('setKey') }}").onclick = $viewEditKey;
			gId("btnSavKey").onclick = $savEditKey;			
			gId("btnCanKey").onclick = $canEditKey;			
			/* --- */
			
			/* POP */
			gId("pop").onclick = $clearPop;			
			/* --- */
			
			for(i = 1; i < 8; i++)
			{
				elem = gId("vimeMenu"+i);
				elem.onclick = foldMenu;
				
				rows = gTag(elem, 'table')[0].rows;
				
				for(j = 0; j < rows.length; j++)
					rows[j].cells[0].onclick = launch;
			}
			
			if( typeof $init != "undefined")
				$init();
		}
		
	</script>
{% endblock %}
