{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Descripción Lista de Chequeo{% endblock %}

{% block area %}

<h2 align="left">Descripción Lista de Chequeo</h2>

<table class="vime-table-des" align="center">
    <tbody>
        <tr>
            <th align="left">Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th align="left">Revisión No.</th>
            <td>{{ entity.tcrevi }}</td>
        </tr>
        <tr>
            <th align="left">No. trabajadores</th>
            <td>{{ entity.ntrabajadores }}</td>
        </tr>
        <tr>
            <th align="left">Asesoría</th>
            <td>{{ entity.asesoria }}</td>
        </tr>
        <tr>
            <th align="left">Comité de Seguridad y Salud</th>
            <td>{% if entity.comite == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Descripción del Local</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
        <tr>
            <th align="left">Características de los sitios de trabajo</th>
            <td>{{ entity.caracteristicas }}</td>
        </tr>
        <tr>
            <th align="left">Personal Especialmente Sensible</th>
            <td>{% if entity.psensible == '1' %} Disminuido físico o psíquico {% else %} {% if entity.psensible == '2' %} Embarazada {% else %} {% if entity.psensible == '3' %} Embarazada y Disminuido físico o psíquico {% else %} {% if entity.psensible == '4' %} Menor de 18 años {% else %} {% if entity.psensible == '5' %} Menor de 18 años y Embarazada {% else %} {% if entity.psensible == '6' %} Menor de 18 años embarazada y Disminuído físico o psiquico {% else %} {% if entity.psensible == '7' %} Menor de 18 años y Disminuído físico o psiquico {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %} {% endif %}</td>
            <!--<td>{% if entity.psensible == '1' %} Menor de 18 años {% else %} {% if entity.psensible == '2' %} Embarazada {% else %} Disminuido físico o psíquico {% endif %} {% endif %}</td>-->
        </tr>
        <tr>
            <th align="left">Seguridad (Equipo de Trabajo)</th>
            <td>{{ entity.seguridad }}</td>
        </tr>
        <tr>
            <th align="left">Físicos (precisen medición)</th>
            <td>{% if entity.mfisico == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Higiene - Contaminantes Físicos</th>
            <td>{{ entity.hfisico }}</td>
        </tr>
        <tr>
            <th align="left">Químicos (precisen medición)</th>
            <td>{% if entity.mquimico == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Higiene - Contaminantes Químicos</th>
            <td>{{ entity.hquimico }}</td>
        </tr>
        <tr>
            <th align="left">Biológicos (precisen medición)</th>
            <td>{% if entity.mbiologico == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Higiene - Contaminantes Biológicos</th>
            <td>{{ entity.hbiologico }}</td>
        </tr>
        <tr>
            <th align="left">Rango de Cargas</th>
            <td>{% if entity.rangocargas == '1' %} 0 a 5 Kg {% else %} {% if entity.rangocargas == '2' %} 5 a 20 Kg {% else %} Más de 20 Kg {% endif %} {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Manipulación de Cargas</th>
            <td>{{ entity.cargas }}</td>
        </tr>
        <tr>
            <th align="left">Formación Carretilleros</th>
            <td>{% if entity.carretilleros == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Movimientos Repetitivos</th>
            <td>{% if entity.repetitivos == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Personal ETT</th>
            <td>{% if entity.ett == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Limpieza</th>
            <td>{% if entity.limpieza == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Mantenimiento</th>
            <td>{% if entity.mantenimiento == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Otros</th>
            <td>{% if entity.otros == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Plan de Emergencia</th>
            <td>{% if entity.emergencia == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Realización Simulacros</th>
            <td>{% if entity.simulacros == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Planos</th>
            <td>{% if entity.planos == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Estado del Plano</th>
            <td>{% if entity.eplanos == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Tipo de Extintor</th>
            <td>{% if entity.textintor == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Puertas de Emergencia</th>
            <td>{% if entity.pemergencia == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Luces de Emergencia</th>
            <td>{% if entity.lemergencia == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Detector de Incendios / Alarma</th>
            <td>{% if entity.alarmas == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Señalización Eléctrico</th>
            <td>{% if entity.selectrico == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Señalización Extintores</th>
            <td>{% if entity.sextintor == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Señalización Vías de Evacuación</th>
            <td>{% if entity.sevacuacion == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Señalización Lavabos</th>
            <td>{% if entity.slavabos == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Botiquín</th>
            <td>{% if entity.botiquin == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Ascensor o Montacargas</th>
            <td>{% if entity.ascensor == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Bases Antideslizantes</th>
            <td>{% if entity.bantideslizante == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Observaciones</th>
            <td>{{ entity.observaciones }}</td>
        </tr>
    </tbody>
</table>

	<form id="vime-form" action="{{ path('tcchec_delete', { 'id': entity.id }) }}" method="post">
		{{ form_widget(delete_form) }}
	</form>
    
{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('tcchec') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="gId('vime-form').submit()"><img src="{{ asset('bundles/scontrol/imagenes/iconos/eliminar.png') }}" title="Eliminar"></td>
			<td onClick="go('{{ path('tcchec_edit', { 'id': entity.id }) }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/editar.png') }}" title="Editar"></td>
		</tr>
	</table>
</div>
{% endblock %}
