{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Listado de Logs{% endblock %}

{% block area %}

<h2 align="left">Listado de Logs</h2>

<input placeholder="Digite su búsqueda" type="text" id="filterTXT"  size="50" style="font-family: Arial; font-size: 10pt; background-color: #FFF; border-radius: 5px; color: #324E8A;"><img style="cursor: pointer; position: absolute; margin-left: 1%; " onClick="buscar()" src="{{ asset('bundles/scontrol/imagenes/applet.png') }}" title="Buscar">
<br>
<br>
<table class="vime-table" align="center" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
			<th>Usuario</th>
            <th>Modulo</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.gbusua.nombre }}</td>
            <td>{{ entity.modulo }}</td>
            <td>{{ entity.accion }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script text="javascript">
	
	var basePath = "{{ path('gblogr') }}";
	
	function buscar(elem)
	{
		if(document.getElementById("filterTXT").value != '')
		{
			val = document.getElementById("filterTXT").value;
			location = basePath+"/"+val+"/filter";
		}
		else
			alert("Necesita Definir Un Parámetro De Busqueda!");
	}
	
</script>
{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('gblogr') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="go('{{ path('gblogr_new') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/agregar.png') }}" title="Agregar"></td>
		</tr>
	</table>
</div>
{% endblock %}
