{% extends "ScontrolBundle::_layout.html.twig" %}

{% block title %}Antecedente Laboral{% endblock %}

{% block area %}

	<input type='hidden' id='RMSG'/ value='{{ RMSG }}'>

	<h2 align="left">Antecendente Laboral</h2>

	<form id="vime-form" action="{{ path('hslabo_create', { 'lv': 2 }) }}" method="post" {{ form_enctype(form) }}>
		<input type="submit" style="display: none" id="sender" value="send">

		<div style="display: none">{{ form_errors(form.mdpaci) }}{{ form_label(form.mdpaci) }}</td><td align="left">{{ form_widget(form.mdpaci) }}</div>

		<table class="vime-colum1">
			<tr><td colspan='2'>{{ form_errors(form.edad) }}</td></tr>
			<tr><td align="left">{{ form_label(form.edad) }}</td><td align="left">{{ form_widget(form.edad) }}</td></tr>
			
			<tr><td colspan='2'>{{ form_errors(form.empresa) }}</td></tr>
			<tr><td align="left">{{ form_label(form.empresa) }}</td><td align="left">{{ form_widget(form.empresa) }}</td></tr>
			
			<tr><td colspan='2'>{{ form_errors(form.fingreso) }}</td></tr>
			<tr><td align="left">{{ form_label(form.fingreso) }}</td><td align="left">{{ form_widget(form.fingreso) }} <img id="hlpFingreso" class='exitBtn' src="{{ asset('bundles/scontrol/imagenes/date.gif') }}"></td></tr>
			<tr><td></td><td style="font-size: 10px; color: silver; font-style: italic;" align="left">Fecha: Año-Mes-Día (Ej: 1984-10-15)</td></tr>
			
			<tr><td colspan='2'>{{ form_errors(form.actividad) }}</td></tr>
			<tr><td align="left">{{ form_label(form.actividad) }}</td><td align="left">{{ form_widget(form.actividad) }}</td></tr>
		</table>

		<table class="vime-colum2">
			<tr><td colspan='2'>{{ form_errors(form.puesto) }}</td></tr>
			<tr><td align="left">{{ form_label(form.puesto) }}</td><td align="left">{{ form_widget(form.puesto) }}</td></tr>
			
			<tr><td colspan='2'>{{ form_errors(form.riesgo) }}</td></tr>
			<tr><td align="left">{{ form_label(form.riesgo) }}</td><td align="left">{{ form_widget(form.riesgo) }}</td></tr>
			
			<tr><td colspan='2'>{{ form_errors(form.duracion) }}</td></tr>
			<tr><td align="left">{{ form_label(form.duracion) }}</td><td align="left">{{ form_widget(form.duracion) }}</td></tr>
	    </table>
	    {{ form_rest(form) }}
	</form>

{% endblock %}

{% block uscript %}
	
	<script type="text/javascript">
		
		function $init(event)
		{
			gId('hlpFingreso').onclick = $helpCalendar;
		}
		
	</script>
	
{% endblock %}
