{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Descripci贸n Ant. Laboral{% endblock %}

{% block area %}

<h2 align="left">Descripci贸n Antecedente Laboral</h2>

<table class="vime-table-des" align="center">
    <tbody>
        <tr>
            <th align="left">Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th align="left">Identifiaci贸n</th>
            <td>{{ entity.mdpaci.identificacion }}</td>
        </tr>
        <tr>
            <th align="left">Nombre paciente</th>
			<td>{{ entity.mdpaci.prinom }} {{ entity.mdpaci.segnom }} {{ entity.mdpaci.priape }} {{ entity.mdpaci.segape }}</td>
        </tr>
        <tr>
            <th align="left">Empresa</th>
            <td>{{ entity.empresa }}</td>
        </tr>
        <tr>
            <th align="left">Fecha ingreso</th>
            <td>{{ entity.fingreso|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th align="left">Actividad</th>
            <td>{{ entity.actividad }}</td>
        </tr>
        <tr>
            <th align="left">Puesto</th>
            <td>{{ entity.puesto }}</td>
        </tr>
        <tr>
            <th align="left">Riesgo</th>
            <td>{{ entity.riesgo }}</td>
        </tr>
        <tr>
            <th align="left">Duraci贸n</th>
            <td>{{ entity.duracion }}</td>
        </tr>
        <tr>
            <th align="left">Edad</th>
            <td>{{ entity.edad }}</td>
        </tr>
    </tbody>
</table>

	<form id="vime-form" action="{{ path('hslabo_delete', { 'id': entity.id }) }}" method="post">
		{{ form_widget(delete_form) }}
	</form>
    
{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('hslabo') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="gId('vime-form').submit()"><img src="{{ asset('bundles/scontrol/imagenes/iconos/eliminar.png') }}" title="Eliminar"></td>
			<td onClick="go('{{ path('hslabo_edit', { 'id': entity.id }) }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/editar.png') }}" title="Editar"></td>
		</tr>
	</table>
</div>
{% endblock %}
