{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Descripción Capacitación{% endblock %}

{% block area %}

<h2 align="left">Descripción de Capacitación</h2>

<table class="vime-table-des" align="center">
    <tbody>
        <tr>
            <th align="left">Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th align="left">Código</th>
            <td>{{ entity.codigo }}</td>
        </tr>
        <tr>
            <th align="left">Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th align="left">Descripción</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
        <tr>
            <th align="left">Duración</th>
            <td>{{ entity.duracion }}</td>
        </tr>
    </tbody>
</table>

	<form id="vime-form" action="{{ path('tccapa_delete', { 'id': entity.id }) }}" method="post">
		{{ form_widget(delete_form) }}
	</form>
    
{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('tccapa') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="gId('vime-form').submit()"><img src="{{ asset('bundles/scontrol/imagenes/iconos/eliminar.png') }}" title="Eliminar"></td>
			<td onClick="go('{{ path('tccapa_edit', { 'id': entity.id }) }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/editar.png') }}" title="Editar"></td>
		</tr>
	</table>
</div>
{% endblock %}
