{% extends "ScontrolBundle::_layout.html.twig" %}

{% block title %}Descripción R. Sistemas{% endblock %}

{% block area %}

<input type='hidden' id='RMSG'/ value='{{ RMSG }}'>

<table class="vime-table-des" align="center">
    <tbody>
        <tr>
            <th align="left">Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th align="left">Historia No.</th>
            <td>{{ entity.mdhist }}</td>
        </tr>
        <tr>
            <th align="left">Identificación paciente</th>
            <td>{{ entity.mdhist.mdpaci }}</td>
        </tr>
        <tr>
            <th align="left">Paciente</th>
            <td>{{ entity.mdhist.mdpaci.prinom }} {{ entity.mdhist.mdpaci.segnom }} {{ entity.mdhist.mdpaci.priape }} {{ entity.mdhist.mdpaci.segape }}</td>
        </tr>
        <tr>
            <th align="left">Otosc. Dcha.</th>
            <td>{% if entity.otoscder == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Otosc. Izqda.</th>
            <td>{% if entity.otosciz == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Boca</th>
            <td>{% if entity.boca == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Garganta</th>
            <td>{% if entity.garganta == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Pupílas</th>
            <td>{% if entity.pupilas == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Expl. Columna.</th>
            <td>{% if entity.columna == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Piel y Mucosas</th>
            <td>{% if entity.mucosas == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Ausc. Cardíaca</th>
            <td>{% if entity.cardiaca == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Ausc. Respiratoria</th>
            <td>{% if entity.respiratoria == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Palpación Abdominal</th>
            <td>{% if entity.abdominal == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">Sist. Nervioso</th>
            <td>{% if entity.nervioso == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
        <tr>
            <th align="left">PPL</th>
            <td>{% if entity.ppl == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>
    </tbody>
</table>
    
{% endblock %}