{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %}Descripción Sistema{% endblock %}

{% block area %}

<h2 align="left">Descripción de Sistema</h2>

<table class="vime-table-des" align="center">
    <tbody>
        <tr>
            <th align="left">Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th align="left">Otosc. Dcha.</th>
            <td>{{ entity.otoscder }}</td>
        </tr>
        <tr>
            <th align="left">Otosc. Izqda.</th>
            <td>{{ entity.otosciz }}</td>
        </tr>
        <tr>
            <th align="left">Boca</th>
            <td>{{ entity.boca }}</td>
        </tr>
        <tr>
            <th align="left">Garganta</th>
            <td>{{ entity.garganta }}</td>
        </tr>
        <tr>
            <th align="left">Pupílas</th>
            <td>{{ entity.pupilas }}</td>
        </tr>
        <tr>
            <th align="left">Expl. Columna.</th>
            <td>{{ entity.columna }}</td>
        </tr>
        <tr>
            <th align="left">Piel y Mucosas</th>
            <td>{{ entity.mucosas }}</td>
        </tr>
        <tr>
            <th align="left">Ausc. Cardíaca</th>
            <td>{{ entity.cardiaca }}</td>
        </tr>
        <tr>
            <th align="left">Ausc. Respiratoria</th>
            <td>{{ entity.respiratoria }}</td>
        </tr>
        <tr>
            <th align="left">Palpación Abdominal</th>
            <td>{{ entity.abdominal }}</td>
        </tr>
        <tr>
            <th align="left">Sist. Nervioso</th>
            <td>{{ entity.nervioso }}</td>
        </tr>
        <tr>
            <th align="left">PPL</th>
            <td>{{ entity.ppl }}</td>
        </tr>
    </tbody>
</table>

	<form  id="vime-form" action="{{ path('mdsist_delete', { 'id': entity.id }) }}" method="post">
		{{ form_widget(delete_form) }}
	</form>
    
{% endblock %}

{% block action %}
<div class="vime-action">
	<table>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td onClick="go('{{ path('mdsist') }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/listar.png') }}" title="Listar"></td>
			<td onClick="gId('vime-form').submit()"><img src="{{ asset('bundles/scontrol/imagenes/iconos/eliminar.png') }}" title="Eliminar"></td>
			<td onClick="go('{{ path('mdsist_edit', { 'id': entity.id }) }}')"><img src="{{ asset('bundles/scontrol/imagenes/iconos/editar.png') }}" title="Editar"></td>
		</tr>
	</table>
</div>
{% endblock %}
