{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %} Revisión Médica {% endblock %}

{% block includes %}
	<link href="{{ asset('bundles/scontrol/css/master.css') }}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ asset('bundles/scontrol/js/master.js') }}">/*--- Include ---*/</script>
{% endblock %}

{% block area %}

<div class="csMain">
	
	<table id="jsPers" class="csPers">
		<tr><th>Responsable:</th><td>{{ GbPers.getFullName() }}</td></tr>
		<tr><th>Identificación:</th><td>{{ GbPers.identificacion }}</td></tr>
		<tr><th>Cargo:</th><td>{{ GbPers.gbcarg.nombre }}</td></tr>
	</table>
	
	<table id="jsPaci" class="csPaci" title="Click Para Cargar">
		<tr><th>Paciente:</th><td><!-- AJAX --></td></tr>
		<tr><th>Identificación:</th><td><!-- AJAX --></td></tr>
	</table>
		
</div>

<div id="jsPaciPar" class="csPar">
	
	<table class="csParTi">
		<tr><th>PACIENTES</th><td id="jsPaciCx" title="Cerrar"><!-- Cerrar --></td></tr>
	</table>
		
	<div class="csParIn">
		
		<!--- Controles para buscar y seleccionar paciente -->
		<div id="jsPaciSc" class="csParSc">
			<table>
				<tr>
					<th><input id="jsPaciScCam" type="text" size="70"/></th>
					<td><img id="jsPaciScBsr" src="{{ asset('bundles/scontrol/imagenes/applet.png') }}" title="Buscar"></td>
					<td><img id="jsPaciScBnw" src="{{ asset('bundles/scontrol/imagenes/iconos/agregar.png') }}" title="Crear Paciente"></td>
				</tr>
			</table>
		</div>
		<div id="jsPaciZn" class="csParZn"><!-- AJAX --></div>
		
		<!--- Controles para nuevo paciente -->
		<iframe id="ifPaci" class="csIfra" src="{{ path('mdpaci_new', { 'lv': 2 }) }}"><!-- FRAME --></iframe>
		<div id="ifPaciBar" class="csParBb">
			<button id="jsPaciCre">CREAR</button>
			<button id="jsPaciCan">CANCELAR</button>
		</div>
		
	</div>
	
</div>
	
{% endblock %}



{% block uscript %}
	
	<script type="text/javascript">
		
		var $optIni = "<option value='@'>Seleccione...</option>";
		
		function $init()
		{
			gId('jsPaci').onclick = showPartial;
			gId('jsPaciCx').onclick = hidePartial;
			gId('jsPaciCre').onclick = newPaci;
			gId('jsPaciCan').onclick = canPaci;
			gId('jsPaciScBsr').onclick = getPaci;
			gId('jsPaciScBnw').onclick = viewPaci;
		}
	
	</script>
	
{% endblock %}