{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %} Revisión Médica {% endblock %}

{% block includes %}
	<link href="{{ asset('bundles/scontrol/css/master.css') }}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ asset('bundles/scontrol/js/master.js') }}">/*--- Include ---*/</script>
{% endblock %}

{% block area %}

<div class="csMain">
	
	<table id="jsPers" class="csPers">
		<tr><th>Responsable:</th><td>{{ GbPers.getFullName() }}</td></tr>
		<tr><th>Identificación:</th><td>{{ GbPers.identificacion }}</td></tr>
		<tr><th>Cargo:</th><td>{{ GbPers.gbcarg.nombre }}</td></tr>
	</table>
	
	<table id="jsPaci" class="csPaci" title="Click Para Cargar">
		<tr><th>Paciente:</th><td><!-- AJAX --></td></tr>
		<tr><th>Identificación:</th><td><!-- AJAX --></td></tr>
	</table>
		
</div>

<div id="jsPaciPar" class="csPar">
	
	<table class="csParTi">
		<tr><th>PACIENTES</th><td id="jsPaciCx" title="Cerrar"><!-- Cerrar --></td></tr>
	</table>
		
	<div class="csParIn">
		
		<iframe id='ifPaci' class="csIfra" src="{{ path('mdpaci_new', { 'lv': 2 }) }}"><!-- FRAME --></iframe>
		
	</div>
	
</div>
	
{% endblock %}



{% block uscript %}
	
	<script type="text/javascript">
		
		var $optIni = "<option value='@'>Seleccione...</option>";
		
		function $init()
		{
			gId('jsPaci').onclick = showPartial;
			gId('jsPaciCx').onclick = hidePartial;
		}
	
	</script>
	
{% endblock %}