{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %} Revisión Médica {% endblock %}

{% block includes %}
	<link href="{{ asset('bundles/scontrol/css/master.css') }}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ asset('bundles/scontrol/js/master.js') }}">/*--- Include ---*/</script>
{% endblock %}

{% block area %}

<div id="asMain">
	
	<table id='asPers'>
		<tr><th>Responsable:</th><td>{{ GbPers.getFullName() }}</td></tr>
		<tr><th>Identificación:</th><td>{{ GbPers.identificacion }}</td></tr>
		<tr><th>Cargo:</th><td>{{ GbPers.gbcarg.nombre }}</td></tr>
	</table>
	
	<table id='asPaci' title="Click Para Cargar">
		<tr><th>Paciente:</th><td></td></tr>
		<tr><th>Identificación:</th><td></td></tr>
	</table>
		
</div>	
{% endblock %}



{% block uscript %}
	
	<script type="text/javascript">
		
		var $optIni = "<option value='@'>Seleccione...</option>";
		
		function $init()
		{
			
		}
	
	</script>
	
{% endblock %}